<h1>Show page</h1>
<% if user_signed_in? && current_user.role_id == 1%>
  <%= link_to "Edit this page", edit_post_path%>
<%  end %>
<div>
  <%= image_tag @post.cover_image if @post.cover_image.present?%>
  <h1> <%= @post.title %> </h1>
  <% if @post.category.name.present? %>
    <h3> Category: <%= @post.category.name %> </h3>
  <%end%>
  <p><%= @post.content %></p>
  <h3>Comment:</h3>
  <% if @comments.present? %>
    <%@comments.each do |comment|%>
      <div>
        User: <%= comment.user_id %>
        <%= comment.body %>
        When: <%= time_ago_in_words comment.created_at %> ago.
      </div>
    <%end%>
  <% else %>
    No comments so far...
  <%end%>
  <%= render partial: 'shared/newcomment', locals:{post: @post}%>
</div>
